{# tabela z pracownikami #}
{% extends 'base.html.twig' %}
{% block title %}Lista pracowników{% endblock %}

{% block body %}
    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="flash-notice">
            {{ flashMessage }}
        </div>
    {% endfor %}
    <button onclick="location.href = '{{path('addPracownik')}}'">Dodaj pracownika</button>
    <table>
        <tr>
            <th>ID</th>
            <th>Imie</th>
            <th>Nazwisko</th>
            <th>Numer telefonu</th>
            <th>E-mail</th>
            <th>Stanowisko</th>
            <th>Usuń</th>
            <th>Edytuj</th>
        </tr>
        {% for item in pracownicy %}
            <tr>
                <td>{{item.id}}</td>
                <td>{{item.imie}}</td>
                <td>{{item.nazwisko}}</td>
                <td>{{item.nrTelefonu}}</td>
                <td>{{item.email}}</td>
                <td>{{item.stanowisko}}</td>
                <td> <button onClick="
                    (usun('{{item.imie}}','{{item.nazwisko}}') 
                    ? location.href = '{{path('deletePracownik', {'id':item.id})}}' 
                    : false)">
                        Usuń
                    </button>
                </td>
                <td> <button onClick="location.href = '{{path('editPracownik', {'id':item.id})}}'">Edytuj</button></td>
            </tr>
        {% endfor %}
    </table>
    <script>
        function usun(imie,nazwisko){
            if(confirm("Czy na pewno chcesz usunąć pracownika "+ imie + " " + nazwisko + "?"))
                return true;
            else
                return false;
        };
    </script>


{% endblock %}
