{% extends "base.html.twig" %}

{% block title %}Dodawanie masowego zdarzenia{% endblock %}

{% block body %}
    <form action="{{path('addMultiZapiszZdarzenie')}}" method="POST">
        <div class="zapiszEdycje">
        <table>
            <tr>             
            <th>{#<a href="{{path('showZdarzenia', {'field':'kodEan'})}}">#}Typ zdarzenia{#</a>#}</th>
            <th>{#<a href="{{path('showZdarzenia', {'field':'nazwaLacinska'})}}">#}Pracownik{#</a>#}</th>
            <th>{#<a href="{{path('showZdarzenia', {'field':'nazwaPolska'})}}">#}Ptasznik, Kod EAN od - do{#</a>#}</th>
            <th>{#<a href="{{path('showZdarzenia', {'field':'uwagi'})}}">#}Data{#</a>#}</th>
            <th>{#<a href="{{path('showZdarzenia', {'field':'magazyn'})}}">#}Opis{#</a>#}</th>            </tr>
            
                <tr>
                    <td>
                        <select name="zdarzenie[typZdarzenia]">
                            <option value="" selected></option>
                            {% for typ in typZdarzenia %}
                                <option value="{{typ.id}}" >{{typ.nazwa}}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td>
                        <select name="zdarzenie[pracownik]">
                                <option value="" selected></option>
                            {% for pra in pracownicy %}
                                <option value="{{pra.id}}">{{pra.imie ~ ' ' ~ pra.nazwisko}}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td>
                        <input type="text" name="zdarzenie[ptasznik1]" value="{{ptasznik1}}"/> -> 
                        <input type="text" name="zdarzenie[ptasznik2]" value="{{ptasznik2}}"/>          
                    </td>
                    <td><input type="date" name="zdarzenie[data]" value="{{ "now"|date("Y-m-d") }}"/></td>
                    <td><input type="text" name="zdarzenie[opis]" value=""/></td>

                </tr>
           
        </table>

        
            <button type="submit">Zapisz</button>
        </div>
    </form>
{% endblock %}
