{# Dodawanie dostawy #}
{% extends 'base.html.twig' %}
{% form_theme form 'form/fields.html.twig' %}

{% block title %}Dodawanie dostawy{% endblock %}

{% block body %}
    <h1>Dodaj nową dostawę</h1>
    <div class="formularz">
        {{ form_start(form) }}
        {{ form_errors(form) }}
        {{ form_row(form.data,  {'attr': {'value' :  ('now'|date("Y-m-d"))} }) }}
        {{ form_row(form.faktura) }}
        {{ form_row(form.kod) }}
        {{ form_row(form.zapisz) }}
        {{ form_end(form) }}
    </div>
{% endblock %}