{% extends "base.html.twig" %}

{% block title %}Ptaszniki{% endblock %}

{% block body %}
    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="flash-notice">
            {{ flashMessage }}
        </div>
    {% endfor %}
    <div class="nawigacja">
        {% if maxPages > 1 %}

            <div class="paginating">
                <label>Strona:</label>
                <select name="strona" onChange="window.location = this.options[this.selectedIndex].value">
                    {% for i in 1..maxPages %}
                        {%if i == thisPage %}
                            <option value="{{path('showPtaszniki', {currentPage:i})}}" selected>{{ i }}</option>
                        {% else %}
                            <option value="{{path('showPtaszniki', {currentPage:i})}}">{{ i }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>

        {% endif %}
        <form method="POST">
            <div class="szukaj">
                <input type="text" name="find" value=""/> 
                <button type="submit">Szukaj</button>
            </div>
        </form>
        <form id="czynnosc" method="POST" action="{{path('czynnoscPtasznik')}}">
            <div class="combobox">
                <select name="czynnosc">
                    <option value="addPtasznik">Dodaj nowego ptasznika</option>
                    <option value="addZdarzenie">Dodaj zdarzenie dla zaznaczonych</option>
                    <option value="deletePtasznik">Usuń zaznaczone</option>
                    <option value="editPtasznik">Edytuj zaznaczone</option>
                </select>
                <button type="submit">Wykonaj</button>
            </div>
        </form>
    </div>
    <table>
        <tr>
            <th></th>
            <th>{#<a href="{{path('showPtaszniki', {'field':'id',currentPage:thisPage})}}">#}ID{#</a>#}</th>
            <th>{#<a href="{{path('showPtaszniki', {'field':'kodEan'})}}">#}Kod EAN{#</a>#}</th>
            <th>{#<a href="{{path('showPtaszniki', {'field':'nazwaLacinska'})}}">#}Nazwa łacińska{#</a>#}</th>
            <th>{#<a href="{{path('showPtaszniki', {'field':'nazwaPolska'})}}">#}Nazwa polska{#</a>#}</th>
            <th>{#<a href="{{path('showPtaszniki', {'field':'uwagi'})}}">#}Uwagi{#</a>#}</th>
                {# <th><a href="{{path('showPtaszniki', {'field':'kodDostawy'})}}">Kod dostawy</a></th>#}
            <th>{#<a href="{{path('showPtaszniki', {'field':'magazyn'})}}">#}Magazyn{#</a>#}</th>
            <th>{#<a href="{{path('showPtaszniki', {'field':'terrarium'})}}">#}Terrarium{#</a>#}</th>
            <th>{#<a href="{{path('showPtaszniki', {'field':'zakupRozmiar'})}}">#}Rozmiar przy zakupie{#</a>#}</th>
            <th>{#<a href="{{path('showPtaszniki', {'field':'aktualnyRozmiar'})}}">#}Aktualny rozmiar{#</a>#}</th>
            <th>{#<a href="{{path('showPtaszniki', {'field':'plec'})}}">#}Płeć{#</a>#}</th>
                {#<th><a href="{{path('showPtaszniki', {'field':'lpWPartii'})}}">Lp. w partii</a></th>#}
                {#<th><a href="{{path('showPtaszniki', {'field':'wydrukEtykiety'})}}">Wydruk etykiety</a></th>#}
        </tr>
        {% for item in ptaszniki %}
            <tr>
                <td><input form="czynnosc" type="checkbox" class="chkbox" name="chck[]" value="{{item.kodEan}}"/></td>
                <td>{{item.id}}</td>
                <td>{{item.kodEan}}</td>
                <td>{{item.nazwaLacinska}}</td>
                <td>{{item.nazwaPolska}}</td>
                <td>{{item.uwagi}}</td>
                {#<td>{{item.kodDostawy}}</td>#}
                <td>{{item.magazyn}}</td>
                <td>{{item.terrarium}}</td>
                <td>{{item.zakupRozmiar}}</td>
                <td>{{item.aktualnyRozmiar}}</td>
                <td>{{item.plec}}</td>
                {#<td>{{item.lpWPartii}}</td>#}
                {#<td>{{item.wydrukEtykiety}}</td>#}
            </tr>
        {% endfor %}
    </table>
{% if maxPages > 1 %}

            <div class="paginating">
                 <label>Strona:</label>
                <select name="strona" onChange="window.location = this.options[this.selectedIndex].value">
                    {% for i in 1..maxPages %}
                        {%if i == thisPage %}
                            <option value="{{path('showPtaszniki', {currentPage:i})}}" selected>{{ i }}</option>
                        {% else %}
                            <option value="{{path('showPtaszniki', {currentPage:i})}}">{{ i }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>

        {% endif %}




<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<script>
           
            $(document).ready(function () {
                var $chkboxes = $('.chkbox');
                var lastChecked = null;

                $chkboxes.click(function (e) {
                    if (!lastChecked) {
                        lastChecked = this;
                        return;
                    }

                    if (e.shiftKey) {
                        var start = $chkboxes.index(this);
                        var end = $chkboxes.index(lastChecked);

                        $chkboxes.slice(Math.min(start, end), Math.max(start, end) + 1).prop('checked', lastChecked.checked);

                    }

                    lastChecked = this;
                });
            });</script>

{% endblock %}